<div>
  <h2>Jogo da Velha</h2>
  <div>
    <a href="#" class="botao">Iniciar</a>
  </div>

  <div>
    <ul>
      <li class="kz-border-bottom kz-border-rigth"></li>
      <li class="kz-border-bottom kz-border-rigth"></li>
      <li class="kz-border-bottom"></li>
      <li class="kz-border-bottom kz-border-rigth"></li>
      <li class="kz-border-bottom kz-border-rigth"></li>
      <li class="kz-border-bottom"></li>
      <li class="kz-border-rigth"></li>
      <li class="kz-border-rigth"></li>
      <li ></li>
    </ul>
  </div>

  <div>
    <span>
      <p>Você venceu!!!</p>
      <p>Você perdeu...</p>
      <p>Empate!</p>
      <br/>
      <a href="*" class="botao"> Jogar Novamente</a>
    </span>
  </div>
</div>
