<div style="margin: 40%;margin-top: 5%;">
  <h2>Jogo da Velha</h2>
  <div class="principal" *ngIf="showInicio">
    <a  class="botao" (click)="iniciarJogo($event)">Iniciar</a>
  </div>

  <div *ngIf="showTabuleiro">
    <ul>
      <li class="kz-border-bottom kz-border-rigth"
      [class.kz-img-x]="exibirX(0,0)"
      [class.kz-img-o]="exibirO(0,0)"
      [class.kz-cor-vitoria]="exibirVitoria(0,0)"
      (click)="jogar(0,0)"></li>


      <li class="kz-border-bottom kz-border-rigth"
      [ngClass]="{
        'kz-img-x': exibirX(0, 1),
        'kz-img-o': exibirO(0, 1),
        'kz-cor-vitoria': exibirVitoria(0, 1)
      }"
      (click)="jogar(0, 1)">
      </li>

      <li class="kz-border-bottom"
        [ngClass]="{
          'kz-img-x': exibirX(0, 2),
          'kz-img-o': exibirO(0, 2),
          'kz-cor-vitoria': exibirVitoria(0, 2)
        }"
        (click)="jogar(0, 2)">
      </li>

      <li class="kz-border-bottom kz-border-rigth"
      [ngClass]="{
        'kz-img-x': exibirX(1, 0),
        'kz-img-o': exibirO(1, 0),
        'kz-cor-vitoria': exibirVitoria(1, 0)
      }"
      (click)="jogar(1, 0)">
      </li>
      <li class="kz-border-bottom kz-border-rigth"
      [ngClass]="{
        'kz-img-x': exibirX(1, 1),
        'kz-img-o': exibirO(1, 1),
        'kz-cor-vitoria': exibirVitoria(1, 1)
      }"
      (click)="jogar(1, 1)">
      </li>
      <li class="kz-border-bottom"
      [ngClass]="{
        'kz-img-x': exibirX(1, 2),
        'kz-img-o': exibirO(1, 2),
        'kz-cor-vitoria': exibirVitoria(1, 2)
      }"
      (click)="jogar(1, 2)">
      </li>
        <li class="kz-border-rigth"
        [ngClass]="{
          'kz-img-x': exibirX(2, 0),
          'kz-img-o': exibirO(2, 0),
          'kz-cor-vitoria': exibirVitoria(2, 0)
        }"
        (click)="jogar(2, 0)">
      </li>
      <li class="kz-border-rigth"
      [ngClass]="{
        'kz-img-x': exibirX(2, 1),
        'kz-img-o': exibirO(2, 1),
        'kz-cor-vitoria': exibirVitoria(2, 1)
      }"
      (click)="jogar(2, 1)">
      </li>
      <li
      [ngClass]="{
        'kz-img-x': exibirX(2, 2),
        'kz-img-o': exibirO(2, 2),
        'kz-cor-vitoria': exibirVitoria(2, 2)
      }"
      (click)="jogar(2, 2)">
      </li>
    </ul>
  </div>
  {{jogador}}
  <div *ngIf="showFinal">
    <span>
      <p *ngIf="jogador==2">Você venceu!!!</p>
      <p *ngIf="jogador==1">Você perdeu...</p>
      <p *ngIf="jogador==0">Empate!</p>
      <br/>
      <a class="botao" (click)="novoJogo($event)"> Jogar Novamente</a>
    </span>
  </div>
</div>
